<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<%= render 'layouts/stylesheets' %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header'%>
	
	<div class="row">
	
  			<%= yield %>
		
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>